### Police Data Cleaning

In [23]:
# imports
import numpy as np
import pandas as pd

In [24]:
df = pd.read_csv('Mapping Police Violence-Grid view.csv')
data = df[['cause_of_death','race','date','officer_charged','allegedly_armed']]
data

,cause_of_death,race,date,officer_charged,allegedly_armed
0,NaN,Black,3/14/2022,NaN,Allegedly Armed
1,NaN,White,3/12/2022,NaN,Allegedly Armed
2,Gunshot,White,3/12/2022,No Known Charges,Allegedly Armed
3,Gunshot,NaN,3/12/2022,No Known Charges,Allegedly Armed
4,Gunshot,White,3/11/2022,No Known Charges,Allegedly Armed
...,...,...,...,...,...
10070,Gunshot,Hispanic,1/1/2013,No Known Charges,Unclear
10071,Gunshot,Black,1/1/2013,No Known Charges,Allegedly Armed
10072,Gunshot,White,1/1/2013,No Known Charges,Allegedly Armed
10073,Gunshot,Hispanic,1/1/2013,No Known Charges,Allegedly Armed
10074,Taser,White,1/1/2013,No Known Charges,Unarmed/Did Not Have Actual Weapon

In [25]:
data['allegedly_armed'].unique()

array(['Allegedly Armed', 'Unarmed/Did Not Have Actual Weapon', nan,
       'Unclear', 'Vehicle'], dtype=object)

In [26]:
# function to clean armed
def armed_clean(x):
    if x == 'Unarmed/Did Not Have Actual Weapon':
        return 0
    elif x == 'Allegedly Armed':
        return 1
    elif x == 'Vehicle':
        return 2
    elif x == 'Unclear':
        return 3
    return np.nan
data['allegedly_armed'] = data['allegedly_armed'].apply(armed_clean)

/var/folders/5h/zwf8d1zs3tqgm1xnpfyp2tcc0000gn/T/ipykernel_43791/1146812141.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['allegedly_armed'] = data['allegedly_armed'].apply(armed_clean)

In [28]:
data.head()

  cause_of_death   race       date   officer_charged  allegedly_armed
0            NaN  Black  3/14/2022               NaN              1.0
1            NaN  White  3/12/2022               NaN              1.0
2        Gunshot  White  3/12/2022  No Known Charges              1.0
3        Gunshot    NaN  3/12/2022  No Known Charges              1.0
4        Gunshot  White  3/11/2022  No Known Charges              1.0