# Research Question

Has Black Lives Matter awareness in the form of social media hashtags resulted in an increase of wages for Black Americans and a decrease in police brutality for Black Americans?

# Background and Prior Work

The Black Lives Matter (BLM) movement protests police brutality and other racially motivated violence against Black people. The BLM movement began the summer of 2013 and has seen a rapid increase of support in the last three years. In 2020, the movement reached its climax following the murder of George Floyd by a police officer.

# BLS Scrapping

In [2]:
import requests
import lxml.html as lh
import pandas as pd

In [3]:
url='https://www.bls.gov/charts/usual-weekly-earnings/usual-weekly-earnings-over-time-by-race.htm'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [4]:
#Check the length of the first 12 rows
[len(T) for T in tr_elements[:12]]

[6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6]

In [6]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Quarter"
2:"Total"
3:"White"
4:"Black or African American"
5:"Asian"
6:"Hispanic or Latino"

In [15]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 6, the //tr data is not from our table 
    if len(T)!=6:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
#         #Check if row is empty
#         if i>0:
#         #Convert any numerical value to integers
#             try:
#                 data=int(data)
#             except:
#                 pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [16]:
[len(C) for (title,C) in col]

[176, 176, 176, 176, 176, 176]

In [20]:
Dict={title:column for (title,column) in col}
wages=pd.DataFrame(Dict)

In [21]:
wages

     Quarter  Total  White Black or African American  Asian Hispanic or Latino
0    Q1 2000    573    588                       469    602                399
1    Q2 2000    569    585                       475    613                394
2    Q3 2000    574    587                       469    625                403
3    Q4 2000    585    600                       480    617                400
4    Q1 2001    589    605                       482    612                408
..       ...    ...    ...                       ...    ...                ...
171  Q4 2020    984  1,007                       792  1,261                742
172  Q1 2021    989  1,006                       799  1,286                750
173  Q2 2021    990  1,012                       799  1,281                779
174  Q3 2021  1,001  1,024                       799  1,309                779
175  Q4 2021  1,010  1,030                       805  1,384                799

[176 rows x 6 columns]